<div class="lightbox" id="lightbox" hidden>
  <button type="button" class="lightbox-close" aria-label="Close zoomed image">&times;</button>
  <img src="" alt="">
</div>
<script src="/public/js/lightbox.js" defer></script>
